/*
 * o2 App Controls
 */

.o2-app-page-title {
	position: relative;
}

.o2-app-controls {
	font-size: 0.6em;
	font-weight: normal;
	line-height: 1.8em;
	text-align: right;
	float: right;
	margin-top: -2em;
}

/*
 * o2 Actions
 */

.o2-disabled-action {
	cursor: not-allowed;
}

.o2-meta {
	font-weight: normal;
	margin-left: 0.4em;
}

@include breakpoint( handset-landscape ) {
	#o2-expand-editor {
		position: fixed;
		display: block;
		bottom: 10px;
		right: 10px;
		text-align: left;
		color: #fff;
		border-radius: 50%;
		width: 44px;
		height: 44px;
		padding: 4px 1px 1px 4px;
		border: solid 2px #fff;
		box-shadow: 0 0 1em #000;
		opacity: 1;
		-webkit-appearance: preserve-3d;
		@include transition( all, 0.25s, ease-out );
		-webkit-transform: rotate( 0deg );

		&.hidden {
			bottom:-50px;
			opacity: 0;
			-webkit-transform: rotate( 160deg );
		}

		span {
			font-size: 32px;
			width: 44px;
			text-align: center;
			line-height: 44px;
			margin: -1px 0 0 -1px;
		}
	}
}
