/* COLORS */
/* TYPOGRAPHY */
/* EFFECTS & UTILITIES */
/* line 4, style.scss */
.post-subscription-form {
  float: right;
  padding-right: 1em;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 640px) {
  /* line 4, style.scss */
  .post-subscription-form {
    float: none;
  }
}
/* line 14, style.scss */
.post-subscription-form small {
  margin-left: 0.3em;
}
